@import "tailwindcss";

@layer utilities {
  .pattern-overlay {
    background-image: repeating-linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 5px,
      transparent 5px,
      transparent 10px
    );
    mask-image: linear-gradient(to left, transparent, black 30%);
    -webkit-mask-image: linear-gradient(to left, transparent, black 30%);
    opacity: 0.7;
    backdrop-filter: blur(1px);
    animation: patternShift 30s linear infinite;
  }

  @keyframes patternShift {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100px 100px;
    }
  }
}
